# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/

# Others
tmp/
/buildpacks/dummy/bin/
/buildpacks/dummy/main-java/build
/buildpacks/dummy/main-java/detect
/buildpacks/dummy/main-java/main
/buildpacks/dummy/main-java/main.build_artifacts.txt
/buildpacks/java/jdk/main
/buildpacks/java/jdk/main.build_artifacts.txt
