# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/

# Others
tmp/
*/bin/